@import "@/styles/styles.scss";
.card {
  width: 30%;
  margin-right: 30px;
  margin-bottom: 30px;
  max-height: 500px;
  transition: ease-in-out 0.15s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  &-right {
    padding: 0 7px;
  }
  &-container {
    width: 100%;
    img {
      object-fit: cover;
      height: 200px;
      width: 100%;
      border-radius: 5px;
    }
  }
  &-header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .like-cmt-group {
      display: flex;
      align-items: center;
      margin-right: 5px;
      margin-top: 5px;
      .icon-like {
        svg {
          stroke: #5496ec;
        }
        position: relative;
        .total-like {
          position: absolute;
          color: #5496ec;
          font-size: 9px;
          top: -5px;
          right: -5px;
          font-weight: bold;
        }
      }
      .icon-cmt {
        position: relative;
        svg {
          stroke: #a90ee6;
        }
        .total-cmt {
          color: #a90ee6;
          position: absolute;
          top: -5px;
          right: -5px;
          font-size: 9px;
          font-weight: bold;
        }
      }
    }
  }
  &-category {
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 2px 3px;
    width: fit-content;
  }
  &-title {
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 10px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
  }
  &-desc {
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    color: $gray-text-color;
    line-height: 1.6;
    margin-bottom: 12px;
  }
  &-footer {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  &-author {
    font-weight: 500;
    font-size: 13px;
    &-date {
      width: 100%;
      align-items: center;
      justify-content: space-between;
      display: flex;
    }
  }
  &-date {
    color: $gray-text-color;
    margin-left: auto;
    font-size: 13px;
  }
}
