@import "@/styles/styles.scss";
.bio {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  .swiper-wrapper {
    height: calc(100vh - $header-height);
    width: 100%;
    pointer-events: none;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &-container {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 100;
  }
  &-heading {
    font-weight: bold;
    font-size: 60px;
    max-width: 800px;
    text-align: left;
    padding-left: 50px;
    color: $white-color;
  }
  &-text {
    font-size: 25px;
    width: 70%;
    text-align: center;
    line-height: 1.6;
    color: $white-color;
    margin-top: 30px;
    margin-left: 70px;
  }
}
