@import "@/styles/styles.scss";
@keyframes skeleton-loading {
  0% {
    background-color: $skeleton-color-before;
  }
  100% {
    background-color: $skeleton-color-after;
  }
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 3px;
  width: 100%;
}

.skeleton-item {
  height: 300px;
  width: 100%;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  .item-top {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .img-avt {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 40px;
        height: 40px;
        stroke: #f5efef;
      }
    }
  }
  .item-bottom {
    height: 30%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 10px;
    .bottom-left {
      width: 70%;
      height: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .category {
        width: 20%;
        height: 35px;
        margin-bottom: 5px;
      }
      .author {
        width: 15%;
        height: 20px;
        margin-bottom: 5px;
      }
      .title {
        width: 70%;
        height: 25px;
        margin-bottom: 5px;
      }
      .desc {
        width: 95%;
        height: 20px;
        margin-bottom: 5px;
      }
      .img-avt {
        width: 45px;
        height: 45px;
        margin-left: 5px;
        border-radius: 50%;
      }
    }
    .bottom-right {
      display: flex;
      flex-direction: column;
      .top {
        display: flex;
        margin-bottom: 12px;
        .right-left {
          width: 30px;
          height: 30px;
          margin-right: 5px;
        }
        .right-right {
          width: 30px;
          height: 30px;
        }
      }
      .bottom {
        width: 100%;
        height: 10px;
      }
    }
  }
}
