@import "@/styles/styles.scss";
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-bottom: 2px solid $gray-text-color;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: $white-color;
  .icon-menu {
    visibility: hidden;
    opacity: 0;
  }
  .icon-menu {
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
  }
  .icon-close {
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
  }
  .account-group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .account-text {
      display: flex;
      li {
        margin-left: 5px;
        text-decoration: underline;
        transition: ease-in 0.2s;
        &:hover {
          a {
            display: inline-block;
            color: $blue-color;
          }
        }
      }
    }
    p {
      font-weight: 500;
      font-size: 14px;
    }
  }
  &-logo {
    img {
      width: 250px;
      height: 50px;
      object-fit: cover;
    }
  }
  &-menu {
    display: flex;
    a {
      text-decoration: none;
    }
    .menu-pending {
      color: inherit;
    }
    .menu-active {
      color: $blue-color;
    }
    li {
      margin-left: 30px;
      list-style-type: none;
      font-weight: 500;
      font-size: 17px;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        color: $blue-color;
      }
    }
  }
  .noti-writter {
    display: flex;
    gap: 3px;
    margin-right: 2px;
    div {
      cursor: pointer;
    }
  }
  &-right {
    display: flex;
    margin-left: 120px;
  }
}
.header-responsive {
  display: none;
  background-color: rgb(218, 209, 209);
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 400px;
  transition: right 0.3s ease-in-out;
  .header-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 1023px) {
  .slide-sidenav {
    transform: translateX(-0);
    visibility: visible;
  }
  .header {
    transition: right 0.3s ease-in-out;

    &-responsive {
      right: 0;
    }
    .icon-menu {
      visibility: visible;
      opacity: 1;
    }
    &-menu {
      visibility: hidden;
      opacity: 0;
    }
    &-logo {
      display: none;
    }
  }
}
